#toolbar {
  height: 52px;
  text-align: left;
  background: black;
  padding: 5px;
  width:100%;
  overflow: hidden;
}

#toolbar .layout {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

#toolbar .tool {
  padding-right: 5px;
  padding-bottom: 10px;
}

#toolbar .tool:last-child {
  padding-right: 0;
}

#toolbar .button {
    width: 36px;
    height: 36px;
    padding-bottom: 10px;
    margin-right: 4px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    background: rgb(53, 53, 53);
 }

#toolbar .button:hover {
    background: rgb(166, 166, 166);
}

#toolbar .button:focus {
    outline: 0;
} 

#toolbar .button img {
    display: block;
    width: 76%;
    padding: 12%;
    height: auto;
}

#show-tooltip-checkbox-label.disabled {
  color: #888;
}
